<section>
    <div class="bg-info">

        <div class="container" style="line-height: 70px;">
            <div class="text-white fw-bold">
                <p>My Profile</p>
            </div>
        </div>
    </div>
</section>