<section>
    <div class="bg-info">

        <div class="container" style="line-height: 70px;">
            <div class="text-white fw-bold d-flex">
                <div class="me-auto fs-2">
                    <p>My Profile</p>
                </div>
                <div class="mx-5">
                    <p><a class="text-white fs-2" href="/"><i class="bi bi-house"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>