<section>
    <div class="bg-dark bg-opacity-10" style="height: 80px;">

        <div class="container" style="line-height: 70px;">
            <div class="text-dark fw-bold d-flex">
                <div class="me-auto fs-2">
                    <p>My Profile</p>
                </div>
                <div class="mx-5">
                    <p><a class="text-dark fs-2" href="/"><i class="bi bi-house"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>