<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/scripts') %>
        <link rel="stylesheet" href="/style.css">
        <title>Document</title>
</head>

<body>

    <%- include('./partials/navbar') %>

        <section>
            <div class="container">

                <div class="row">
                    <div class="col-8">
                        <img src="/asset/doctor4.png" alt="" style="width: 60vh;" srcset="">
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <div>
                            <span class="fs-1 fw-bold">Making Health</span>
                            <p class="fs-1 fw-bold">Care Better Together</p>
                            <div>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis unde provident
                                    incidunt mollitia, necessitatibus odio! Itaque impedit magni excepturi non quas
                                    molestias ullam, quod modi omnis aspernatur sunt necessitatibus praesentium.</p>
                            </div>
                            <div>
                                <button class="bg-info btn" style="border-radius: 0" type="button"><a
                                        class="text-decoration-none text-white" href="/doctor">Make A
                                        Appointment</a></button>
                                <button class="btn btn-outline-info mx-2 " style="border-radius: 0" type="button"><a
                                        class="text-decoration-none text-dark " href="">View Article</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>