<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/scripts') %>
        <title>Document</title>
</head>

<body>

    <%- include('../partials/navbarProfile') %>

        <section>
            <div class=" container pt-5">
                <div class="text-center">
                    <div>
                        <% if (!userProfile) { %>
                            <a class="btn btn-success" href="/user/<%= userId %>/profiles/add">Create Profile</a>
                            <% }else{ %>

                                <a class="btn btn-info" href="/user/<%= userId %>/profiles/edit">Edit Profile</a>
                                <% } %>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>