<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/scripts') %>
        <title>Document</title>
</head>

<body>

    <%- include('../partials/navbarProfile') %>

        <section>
            <div class=" container">
                <div class="text-center">
                    <div>
                        <a class="btn btn-dark" href="">Create Profile</a>
                        <a href="">Edit Profile</a>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>